# .env de Exemplo
SECRET_KEY=sua_chave_secreta_django
DB_NAME=connect_db
DB_USER=usuario_db
DB_PASSWORD=senha_forte_aqui

# Esta é a porta QUE FICA EXPOSTA PARA O SEU LINUX (mudamos para 5433)
DB_PORT_HOST=5433

# Esta é a porta QUE O DJANGO USA DENTRO DA REDE DOCKER (mantemos 5432)
DB_PORT_INTERNAL=5432

# O Host continua sendo o nome do serviço no docker-compose
DB_HOST=db